<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Socket Cloud</title>
    <link rel="stylesheet" href="/css/index.css" />

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="bar"></div>

  <div>
    <center>
      <h1>HOSTED SOCKET.IO</h1>
      <h2>Emit events to Socket.IO clients via REST</h2>
    </center>

    <div class="row">
      <div class="col-sm-4">
        <center><div class="circle">1</div></center>
        <div class="step">
          Create an App Key.
        </div>
      </div>
      <div class="col-sm-4">
        <center><div class="circle">2</div></center>
        <div class="step">
          Add socket.io client code to your site.
        </div>
      </div>
      <div class="col-sm-4">
        <center><div class="circle">3</div></center>
        <div class="step">
          Make REST requests to send events.
        </div>
      </div>
    </div>

    <div class="start-here">
      <center>
        <a href="/signup" class="btn btn-primary">sign up</a>
      </center>
    </div>
  </div>

</body>
